@using RoRItems.Models
@using RoRItems.Services
@inject JsonFileItemService ItemService
@model Item

<p>current model id : @Model.Id</p>
@{
    var itemCollection = ItemService.GetItems();

    if (Model.Id == null)
    {
        foreach (var item in itemCollection)
        {
        <img src="@item.Image" /> 
        <p>@item.Name</p>
        }
    }
    else
    {
        var item = itemCollection.First(x => x.Id == Model.Id);
        <p>@item.Description</p>
    }
}
