@using RoRItems.Models
@using RoRItems.Services
@inject JsonFileItemService ItemService
@model Item

<p>current model id : @Model.Id</p>
@{
    var itemCollection = ItemService.GetItems();

    if (Model.Id == null)
    {
        <div class="container">
        @foreach (var item in itemCollection)
        {
            <a href="/@item.Id"><img src="@item.Image" alt="@item.Name" class="img-fluid" /></a>
        }
        </div>
    }
    else
    {
        try
        {
            var item = itemCollection.First(x => x.Id == Model.Id);
            <p>@item.Description</p>
        }
        catch (InvalidOperationException e)
        {
            <p>Item Not Found</p>
        }
    }
}
